@import "../node_modules/bootstrap/scss/bootstrap";

$body-bg: #000;
$body-color: #111;

$theme-colors: (
  "primary": var(--red),
  "danger": #ff4136
);

$enable-rounded: false;
$enable-shadows: true;
$enable-gradients: true;

@import "bootstrap/scss/bootstrap";